.hero {
  padding: 1px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) 0%,
      #1c1b21 92.19%
    ),
    url("../../img/hero-bckg.png");
  padding-bottom: 250px;
  background-repeat: no-repeat;
  background-size: cover;

  &__text-box {
    margin-top: 330px;
  }

  &__single-text {
    margin: 0;
    margin-left: -5px;
    font-weight: 700;
    font-size: 48px;
    color: var(--light-color);
  }

  &__war-text {
    margin: 0;
    margin-top: 40px;
    margin-left: -6px;
    font-weight: 700;
    font-size: 100px;
    -webkit-text-stroke: 1px #ffffff;
    text-stroke: 1px #ffffff;
  }
}
