.trek {
  display: flex;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 30px;

  &__play {
    width: 25px;
    height: 25px;
    background: url("../../img/icons/play.svg") no-repeat center / cover;
    margin-right: 30px;
  }

  &__line {
    position: relative;
    flex-grow: 1;
    height: 2px;
    background-color: var(--violet-main);
  }

  &__line-blue {
    position: absolute;
    display: flex;
    justify-content: end;
    width: 20%;
    height: 2px;
    background-color: var(--violet-main);
  }

  &__box-trigger {
    width: 20px;
    height: 20px;
    transform: translate(10px, -8px);
    cursor: pointer;

    @include flex-all-center;

    &:hover .trek__line-blue-vertical {
      height: 20px;
    }
  }

  &__line-blue-vertical {
    display: block;
    width: 2px;
    height: 15px;
    background-color: var(--light-color);
    transition: height var(--transition-03) linear;
  }

  &__line-inner {
    width: 100%;
    height: 2px;
    background-color: var(--light-color);
  }

  &__time {
    color: var(--light-color);
    margin-left: 50px;
    font-size: 18px;
  }
}
